.header {
  padding: calc(2 * var(--container-offset)) 0;
  
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }

  &__nav {
    justify-self: center;
    display: flex;
    flex-direction: row;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__nav + &__menu {
    justify-self: flex-end;
  }

  &__action {
    text-decoration: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;

    gap: 20px;

    &__link {
      color: var(--yellow-100);
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
