.hero {
  &__wrapper {
    padding: calc(2 * var(--container-offset)) 0;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;

    color: var(--yellow-200);
  }

  &__title {
    font-size: 85px;
    text-transform: uppercase;
    position: relative;
    line-height: 1;
    @include gradient-text;
  }

  &__text {
    font-size: 24px;
    line-height: 1.5;
  }
}
