.projects {
  margin-top: 100px;
  padding-bottom: 50px;
  background: var(--gray);
  &-header {
    padding: 32px 0;
    border-bottom: 2px solid var(--yellow-200);
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  .heading {
    font-size: calc(var(--font-size) * 2.8);
    text-transform: uppercase;
    line-height: 0.8;
    margin: 30px 0;
    @include gradient-text;
  }
  &-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 70px 0;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    img {
      filter:grayscale(1);
      margin: 30px 0;
      width: 400px;
      height: 534px;
      object-fit: cover;
      transition-property:filter, transform;
      transition-duration: .3s;
    }

    img:hover {
    transform: translateX(12%);
    filter: grayscale(0);
    }

    h3 {
      font-size: calc(var(--font-size) * 1.4);
      text-transform: uppercase;
      line-height: 0.8;
      margin: 10px 0;
    }
    .card-p {
      font-size: calc(var(--font-size) * 1);
      text-transform: uppercase;
      line-height: 0.8;
      margin: 0;
      font-weight: 500;
    }
  }
  span {
    font-size: calc(var(--font-size) * 1.4);
    text-transform: uppercase;
    line-height: 0.8;
    margin: 0;
    font-weight: 600;
    color: var(--white);
    background-color: var(--yellow-200);
    padding: 20px 40px;
    transition: 0.2s;
  }
  span:hover {
    background-color: var(--yellow-900);
  }
}
