@import "./mixins.scss";
@import "./base.scss";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/services.scss";
@import "./components/projects.scss";
@import "./components/detailing.scss";
@import "./components/populars.scss";



